[Desktop Entry]
Version=1.0
Type=Application
Name=Conky Controls
Comment=Turn the Conky on or off.
Categories=Utility;
Exec=/bin/miyo-conky
Icon=applications-accessories